xcuserdata/
*.xctimeline
*.xccheckout
*.xcscmblueprint
*.mode2v3
*.pbxuser
*.zip
(*)/
.DS_Store
Carthage/
Pods/

Config/*(dynamic).xcconfig
# ...duplicate either carthage or cocoapods versions from repo, according to script choice at start of build
