//
//  Debug.xcconfig
//  HelloOBP-iOS
//
//  Created by Torsten Louland on 02/04/2016.
//  Copyright © 2016 TESOBE. All rights reserved.
//

#include "Pods/Target Support Files/Pods-HelloOBP-iOS/Pods-HelloOBP-iOS.debug.xcconfig"

// override PODS_FRAMEWORK_BUILD_PATH
PODS_FRAMEWORK_BUILD_PATH = $(BUILT_PRODUCTS_DIR)

DEPENDENCY_MANAGER = COCOAPODS
COCOAPODS_BUILD_PLATFORM_DIR = $(PODS_FRAMEWORK_BUILD_PATH)

#include "Common.xcconfig"
